    @font-face {
        font-family: 'alternate_gothic_no2_dregular';
        src: url('../font/alternate-gothic-no2-d-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font//alternate-gothic-no2-d-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../font/alternate-gothic-no2-d.ttf') format('truetype');
        /* Safari, Android, iOS */
        font-weight: normal;
        font-style: normal;
    }
    /*Set Color*/
    
     :root {
        --orange-color: #EB5B49;
        --white-color: #ffffff;
        --blue-color: #2098D1;
        --gray-color: darkgray;
        --black-color: #000000;
        --bg-black: #2D2D2D;
        --bg-black2: #212121;
        --yellow-color: #ffc107;
        --red-color: #cb2027;
        --red2-color: #bb0000;
        --fb-color: #3B5998;
        --tw-color: #4099ff;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        overflow: scroll;
    }
    
    img {
        max-width: 100%;
        display: block;
        height: auto;
    }
    
    a {
        text-decoration: none;
    }
    
    .items-play-img {
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    .icon-items {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-out;
    }
    
    .icon-items:hover {
        transform: translate(-50%, -50%) scale(1.3);
    }
    
    header.header {
        min-height: 47rem;
        position: relative;
        z-index: 0;
    }
    
    header.movies,
    header.trends,
    header.news,
    header.contacts,
    header.infos {
        min-height: 28.875rem;
        min-width: 100%;
        background-image: url(../img/banner/Banner.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header.trends {
        background-image: url(../img/banner/Banner1.png);
    }
    
    header.news {
        background-image: url(../img/banner/Bannernews.jpg);
    }
    
    header.contacts {
        background-image: url(../img/banner/Banner3.png);
    }
    
    header.infos {
        background-image: url(../img/banner/Banner4.png);
    }
    
    header.watch-anime {
        margin-top: 7.05rem;
    }
    
    section.content-anime,
    section.content-news,
    section.content-contacts,
    .content-infos,
    .content-watchanime {
        margin: 3.125rem 0;
    }
    
    section.slider {
        min-height: 36.25‬rem;
        background-color: var(--white-color);
    }
    
    .card {
        border: none;
    }
    
    .no-gutters,
    .card.hvr-glow,
    .content-tops .card {
        border: 1px solid rgba(0, 0, 0, .125);
    }
    
    .quick-search,
    .advanced-search {
        margin-bottom: 3.125rem;
    }
    
    section.news-anime {
        height: auto;
        margin-top: 3.125rem;
        overflow: hidden;
    }
    
    section.content-trends {
        padding: 1.56rem;
    }
    
    section.content-trends .card-deck {
        margin: 10px;
    }
    
    section.content-contacts h2,
    footer.footer-main h6,
    .images-new {
        margin-bottom: 1.87rem;
    }
    
    footer.footer-main {
        height: auto;
        background-color: var(--white-color);
        padding: 3% 0;
        overflow: hidden;
    }
    
    footer.footer-main h6 {
        text-align: left;
    }
    
    footer.footer-main a {
        color: inherit;
        text-decoration: none;
        transition: all 0.4s;
    }
    
    footer.footer-main a:hover,
    li.nav-item a:hover,
    i.far.fa-calendar-alt,
    i.fas.fa-tags,
    i.fas.fa-download,
    i.fas.fa-tags a:hover {
        color: var(--blue-color)!important;
    }
    
    .footer-main ul {
        list-style-type: none;
    }
    
    .footer-main li,
    .img-gallery img.img-fluid,
    .sort-info b {
        margin-bottom: 0.625rem;
    }
    
    .watch-anime h6 {
        margin-top: 0.937rem;
    }
    
    .watch-anime h6 {
        margin: 0.937rem 0;
    }
    
    .images-new,
    .images-newbig {
        position: relative;
    }
    
    .slider h3 {
        padding: 1.56rem 0;
    }
    
    p.titlenew,
    p.titlenewbig {
        position: absolute;
        left: 0;
        bottom: -10%;
        color: white;
        font-weight: 600;
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.53)!important;
        width: 100%;
    }
    
    p.titlenewbig {
        bottom: -5%;
    }
    
    .content-infos-news img {
        margin: 5px 0px 25px 0px;
    }
    
    .content-infos-news span {
        padding: 10px 0;
        display: block;
    }
    
    .content-infos-news p {
        line-height: 28px;
    }
    
    .menu-movies button,
    .list-button button {
        background: #333333;
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        transition: all 0.4s ease-out;
        color: var(--white-color);
        margin: 3px 1px;
    }
    
    .menu-movies button:hover,
    .list-button button:hover {
        background: var(--blue-color);
    }
    
    .navbar {
        height: 7rem;
        line-height: 5.0625rem;
        background-color: rgba(0, 0, 0, 0.53)!important;
        transition: 0.5s;
        border-bottom: none;
    }
    
    .nav-link i.fas.fa-search {
        font-size: 1.5625rem;
    }
    
    i.far.fa-lightbulb {
        font-size: 1.75rem;
        cursor: pointer;
        color: var(--white-color);
        display: flex;
        margin: 15px 20px;
    }
    
    .blueoff,
    .view-more {
        color: var(--blue-color);
    }
    
    .scrolled-nav {
        height: 5.3rem !important;
        line-height: 3.3rem !important;
        transition: 0.5s;
        border-bottom: none;
        background: rgba(0, 0, 0, 0.8) !important;
    }
    
    .navwatch {
        background: rgba(0, 0, 0, 0.9) !important;
    }
    
    li.nav-item a {
        display: block;
        margin: 0 10px;
        font-weight: 900;
        transition: all 0.4s;
        color: var(--white-color)!important;
        letter-spacing: 1px;
    }
    
    li.nav-item a:hover {
        color: var(--blue-color)!important;
    }
    
    .bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: .9;
        overflow: hidden;
    }
    
    .bg video {
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    
    .text-banner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--white-color);
    }
    
    .text-banner h3 {
        letter-spacing: 2.18rem;
        line-height: 5.625rem;
    }
    
    .text-banner h1 {
        font-family: 'alternate_gothic_no2_dregular';
        font-size: 9.375rem;
        font-weight: 600;
    }
    
    .text-banner h2 {
        letter-spacing: 0.625;
    }
    
    .quick-search,
    .advanced-search,
    .news-signup {
        padding: 1.25rem;
        border: 1px solid rgba(0, 0, 0, .125);
    }
    
    .quick-search h3,
    .advanced-search h3 {
        padding: 0.625rem 0;
    }
    
    .card-footer {
        background-color: transparent;
    }
    
    select.custom-select.custom-select-md {
        margin-bottom: 1.5625rem;
    }
    
    .view-more {
        width: 100%;
        text-align: right;
        border: 1px solid lightgray;
        padding: 0.625em;
        cursor: pointer;
    }
    
    p.viewmore-button {
        margin-bottom: 0;
    }
    
    .content-more {
        display: none;
    }
    
    .card-visa {
        display: flex;
    }
    
    .card-visa img.img-fluid {
        max-width: 9.06rem;
        margin-right: 5px;
    }
    
    .img-gallery img.img-fluid {
        width: 100%;
        height: 6.25rem;
    }
    
    .col-md-4.img-gallery {
        padding: 0 5px;
    }
    
    .col-md-6.text-right.copyright-p p {
        height: 3.75rem;
        line-height: 5rem;
    }
    
    .card-visa,
    .sort-info {
        margin-bottom: 1.25rem;
    }
    
    .row.align-items-stretch .card:only-of-type,
    .bg {
        height: 100%;
    }
    
    a:focus {
        outline: none;
    }
    
    .card-data {
        max-width: 18.75rem;
    }
    
    .col-sm-8.col-sm-offset-2.form-contacts {
        max-width: 100%;
        flex: 100%;
    }
    
    .content-news .col-md-8 .card.text-white.mb-5 .card-img-overlay a,
    p.titlenewbig a,
    p.titlenew a,
    i.fas.fa-tags a,
    .col-md-6 .card-deck.h-100 .card .card-body a,
    .content-tops .card .row .col-md-8 .card.h-100 .card-body a,
    .card-data .card-deck.h-100 .card .card-body a,
    .row.no-gutters .col-md-8 .card-body a {
        text-decoration: none;
    }
    
    i.fas.fa-tags a,
    i.far.fa-calendar-alt span,
    section.news-anime h1,
    section.news-anime h4 {
        color: black;
    }
    
    .fa-tags:before {
        margin-right: 5px;
    }
    
    .buttonload,
    .btn-download {
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .buttonload .fas,
    .btn-download .fas {
        margin-left: -12px;
        margin-right: 8px;
    }
    
    .list-button {
        text-align: justify;
        border-top: 1px dashed darkgray;
        border-bottom: 1px dashed darkgray;
        margin: 10px 0;
        height: auto;
        padding: 1.25rem 0;
    }
    
    .list-button .btn.btn-primary {
        margin: 5px 0;
    }
    
    .contacts-address {
        display: flex;
    }
    
    .sort-info b {
        display: block;
    }
    
    .form-group small {
        color: red;
    }
    
    input.txtsubmit {
        width: 150px;
        height: 50px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    .comment-facebook {
        background: white;
        border-radius: 10px;
        clear: both;
    }
    /* icon */
    
    i.fas.fa-star,
    i.fas.fa-star-half-alt,
    i.far.fa-star {
        color: var(--yellow-color);
    }
    
    .icon-button {
        background-color: var(--white-color);
        border-radius: 4.6rem;
        cursor: pointer;
        display: inline-block;
        font-size: 2.3rem;
        height: 4.6rem;
        line-height: 4.6rem;
        margin: 0 5px;
        position: relative;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 4.6rem;
    }
    
    .icon-button span {
        border-radius: 0;
        display: block;
        height: 0;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 0;
    }
    
    .icon-button:hover span {
        width: 4.6rem;
        height: 4.6rem;
        border-radius: 4.6rem;
        margin: -2.3rem;
    }
    
    .icon-button i {
        background: none;
        height: 4.6rem;
        left: 0;
        line-height: 4.6rem;
        position: absolute;
        top: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 4.6rem;
        z-index: 10;
    }
    
    .twitter span {
        background-color: var(--tw-color);
    }
    
    .facebook span {
        background-color: var(--fb-color);
    }
    
    .youtube span {
        background-color: var(--red2-color);
    }
    
    .pinterest span {
        background-color: var(--red-color);
    }
    
    .instagram span {
        background-color: var(--red-color);
    }
    
    .icon-button .fa-twitter {
        color: var(--tw-color);
    }
    
    .icon-button .fa-facebook-f {
        color: var(--fb-color);
    }
    
    .icon-button .fa-youtube {
        color: var(--red2-color);
    }
    
    .icon-button .fa-pinterest {
        color: var(--red-color);
    }
    
    .icon-button .fa-instagram {
        color: var(--red-color);
    }
    
    .content-news .col-md-8 .card.text-white.mb-5 .card-img-overlay a,
    p.titlenewbig a,
    p.titlenew a,
    .icon-button:hover .fa-twitter,
    .icon-button:hover .fa-facebook-f,
    .icon-button:hover .fa-youtube,
    .icon-button:hover .fa-instagram,
    .icon-button:hover .fa-pinterest,
    .buttonload,
    .btn-download,
    .text-white,
    .icon-votes-white,
    .icon-votes-whitea,
    .icon-bar .twitter,
    .icon-bar .facebook,
    .icon-bar .linkedin,
    .icon-bar .youtube,
    .inputblack,
    section.news-anime,
    .iconblue,
    .onoff {
        color: var(--white-color)!important;
    }
    
    .onoff {
        background: var(--bg-black) !important;
    }
    
    .active {
        border-bottom: 5px solid var(--blue-color);
    }
    
    .activebutton {
        background: var(--blue-color) !important;
    }
    
    .borderwhite {
        border: 1px solid rgb(255, 254, 254)!important;
    }
    
    .darkmovies-card,
    .inputblack,
    .footerblack {
        background: var(--bg-black2)!important;
    }
    
    section.news-anime {
        height: auto;
        margin-top: 3.125rem;
        overflow: hidden;
        background: url(../img/bg_introduction.png) right top 0rem no-repeat;
        background-size: 100%;
        padding: 50px 0;
    }
    
    .search {
        padding: 5px 0;
        width: 14.375rem;
        height: 1.875rem;
        position: relative;
        left: 10px;
        float: left;
        line-height: 22px;
        display: flex;
        margin: 10px 20px;
    }
    
    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius: 5px;
    }
    
    .search:hover input,
    .search input:focus {
        width: 200px;
        margin-left: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .search button.btn {
        height: 30px;
        position: absolute;
        right: 0;
        top: 5px;
        border-radius: 4px;
    }
    
    .text-adward {
        position: absolute;
        top: 3%;
        right: 3%;
        border-radius: 50%;
        background: #0093ffe0;
        padding: 6% 8%;
        color: white;
        font-weight: bold;
    }
    
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 1rem;
        transition: all 0.3s ease;
        font-size: 1.25rem;
    }
    
    .icon-bar a:hover {
        background-color: #000;
    }
    
    .icon-bar .facebook {
        background: var(--fb-color);
    }
    
    .icon-bar .twitter {
        background: var(--tw-color);
    }
    
    .icon-bar .linkedin {
        background: var(--blue-color);
    }
    
    .icon-bar .youtube {
        background: var(--red-color);
    }
    
    .icon-bar .content {
        margin-left: 4.687rem;
        font-size: 1.87rem;
    }
    
    .social-icon {
        float: right;
    }
    
    .icon-votes span {
        padding-right: 1.25rem;
        padding-left: 6px;
    }
    
    i.fas.fa-exclamation-triangle {
        color: var(--red-color);
    }
    
    i.fas.fa-step-forward {
        color: var(--yellow-color);
    }
    
    .gallery-footer {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    .gallery-flickr {
        flex-basis: 33.3333%;
    }
    
    img.img-fluid.img-thumbnail.hvr-glow.flickr-img {
        display: block;
        height: 6rem;
        min-width: 100%;
    }
    
    #back-to-top {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 9999;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background: var(--blue-color);
        color: #ffff;
        cursor: pointer;
        border: 0;
        border-radius: 2px;
        text-decoration: none;
        transition: opacity 0.2s ease-out;
        opacity: 0;
    }
    
    #back-to-top:hover {
        background: var(--blue-color);
    }
    
    #back-to-top.show {
        opacity: 1;
    }
    
    #content {
        height: 2000px;
    }
    /* lib */
    
    .portfolioFilter {
        padding: 2rem;
    }
    
    .portfolioFilter a {
        margin-right: 6px;
        color: #666;
        text-decoration: none;
        border: 1px solid #ccc;
        padding: 4px 15px;
        border-radius: 3.1255rem;
        display: inline-block;
    }
    
    .portfolioFilter a.current {
        background: #1e1e1e;
        border: 1px solid #1e1e1e;
        color: #f9f9f9;
    }
    
    .isotope-item {
        z-index: 2;
    }
    
    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }
    
    .isotope,
    .isotope .isotope-item {
        /* change duration value to whatever you like */
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
    
    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        transition-property: height, width;
    }
    
    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        transition-property: transform, opacity;
    }
    
    .slick-slider .slick-arrow {
        position: absolute;
        top: 50%;
        border: 0;
        border-radius: 100%;
        padding: 0;
        height: 4.25rem;
        width: 4.25rem;
        display: block;
        background: var(--blue-color);
        color: transparent;
        font-size: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        outline: 0;
        z-index: 1;
        cursor: pointer;
    }
    
    .slick-slider .slick-arrow:before {
        content: "";
        font-size: 1.87rem;
        line-height: 1;
        color: var(--white-color);
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
    
    .slick-slider .slick-arrow.slick-prev {
        left: 1.25rem;
    }
    
    .slick-slider .slick-arrow.slick-prev:before {
        content: "\f053";
    }
    
    .slick-slider .slick-arrow.slick-next {
        right: 20px;
    }
    
    .slick-slider .slick-arrow.slick-next:before {
        content: "\f054";
    }
    
    .slick-slide img {
        display: block;
        padding: 0 15px;
    }
    
    .slick-initialized .slick-slide {
        display: block;
        position: relative;
        opacity: 1;
        transition: all 0.4s ease-out;
    }
    
    .slick-initialized .slick-slide:hover {
        opacity: 0.8;
    }
    
    .slick-initialized .slick-slide h3 {
        position: absolute;
        top: 10%;
        left: 15px;
        text-align: center;
        padding: 10px 0;
        width: 94%;
        color: white;
        background-color: rgba(0, 0, 0, 0.53)!important;
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1440px;
        }
    }
    
    @media (max-width: 1200px) {
        .slick-initialized .slick-slide h3 {
            width: 90%;
        }
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
            margin: 0;
        }
        a.nav-link {
            width: 4.187rem;
            font-size: 10px;
            text-align: center;
        }
        header.movies,
        header.trends,
        header.news,
        header.contacts,
        header.infos {
            min-height: 18.875rem;
        }
        ul.nav.navbar-nav.ml-auto.w-100.justify-content-end.nav-search {
            display: inline-block;
            margin-right: 15px;
        }
        .slick-initialized .slick-slide h3 {
            font-size: 10px;
        }
        section.news-anime {
            font-size: 12px;
        }
        .icon-button {
            border-radius: 2.6rem;
            font-size: 1.8rem;
            height: 2.6rem;
            line-height: 2.6rem;
            width: 1.6rem;
        }
        .icon-button:hover span {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 1.6rem;
            margin: -0.8rem;
        }
        /* Icons */
        .icon-button i {
            height: 1.6rem;
            line-height: 1.6rem;
            width: 1.6rem;
        }
        .pinterest,
        section.social-fixed {
            display: none;
        }
    }
    
    @media (min-width: 768px) {
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
            width: 85px;
            text-align: center;
        }
    }
    
    @media (max-width: 768px) {
        .form-sort button.btn.btn-primary,
        .form-sort button.btn.btn-danger {
            font-size: 12px;
        }
        .news-signup button.btn.btn-primary,
        .news-signup .input-group input::placeholder,
        .quick-search .input-group input::placeholder {
            font-size: 10px;
        }
        .news-signup button.btn.btn-primary,
        .quick-search .input-group button.btn-primary {
            padding: 4px;
        }
        .text-banner h1 {
            font-size: 7.375rem;
        }
        .icon-button {
            border-radius: 1.6rem;
            font-size: 0.8rem;
            height: 1.6rem;
            line-height: 1.6rem;
            width: 1.6rem;
        }
        .icon-button:hover span {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 1.6rem;
            margin: -0.8rem;
        }
        /* Icons */
        .icon-button i {
            height: 1.6rem;
            line-height: 1.6rem;
            width: 1.6rem;
        }
        .pinterest,
        section.social-fixed {
            display: none;
        }
        .text-banner h3 {
            letter-spacing: 0;
        }
        .text-right,
        .menu-movies {
            text-align: center!important;
        }
        header.movies,
        header.trends,
        header.news,
        header.contacts,
        header.infos {
            min-height: 13.875rem;
        }
        ul.nav.navbar-nav.ml-auto.w-100.justify-content-end.nav-search {
            display: inline-block;
            margin-right: 15px;
        }
        .slick-initialized .slick-slide h3 p.card-text,
        section.news-anime {
            font-size: 10px;
        }
        .search {
            width: 7.375rem;
        }
        .search:hover input,
        .search input:focus {
            width: 100px;
        }
        .search input {
            margin-left: 110px;
        }
        .content-tops .card-header,
        .content-tops .card-footer {
            padding: 0.5rem;
        }
        .content-tops .card-body {
            padding: 10px;
        }
        .content-tops p {
            margin-bottom: 0;
        }
        .slick-slider .slick-arrow {
            height: 3.25rem;
            width: 3.25rem;
        }
        p.titlenew a {
            font-size: 8px;
        }
        .slick-initialized .slick-slide h3 {
            width: 86%;
        }
        .news-day {
            font-size: 10px;
        }
        section.content-news {
            font-size: 12px;
        }
        footer.footer-main a {
            font-size: 10px;
        }
        section.content-anime .card .card-body h5.card-title {
            font-size: 14px;
            padding: 5px 0;
        }
        i.fas.fa-tags a {
            font-size: 9px;
        }
        .card-img {
            height: 100%;
        }
        section.content-trends .container-fluid {
            width: 90%;
        }
        .portfolioFilter a {
            display: flex;
        }
    }
    
    @media all and (max-width: 575px) {
        .text-banner h1 {
            font-size: 4.375rem;
        }
        .text-banner h2 {
            font-size: 1.5rem;
        }
        header.movies,
        header.trends,
        header.news,
        header.contacts,
        header.infos {
            min-height: 7.875rem;
            margin-top: 5.3rem;
        }
        div#collapsingNavbar3,
        div#collapsingNavbar4 {
            background-color: rgba(0, 0, 0, 0.53)!important;
            margin-top: -12px;
        }
        section.content-trends .row,
        .portfolioFilter {
            padding: 0;
        }
        .navbar {
            height: 5.3rem;
            line-height: 2rem;
        }
        ul#itemsmenu,
        ul.navbar-nav.w-100.justify-content-center {
            align-items: center;
        }
        .navbar-light .navbar-toggler {
            margin-right: 20px;
        }
        section.content-anime,
        .content-anime .row.wow.slideInUp,
        section.content-news,
        section.content-contacts,
        .content-infos,
        .content-watchanime,
        section.news-anime {
            margin-top: 2rem;
        }
        .card-visa,
        .footer-main ul {
            text-align: center;
        }
        .portfolioFilter.clearfix a {
            display: flex;
        }
        .portfolioFilter.clearfix a {
            margin: 10px 0;
        }
        .news-day h3 {
            padding: 20px 0;
        }
        section.content-news .card-img-overlay h5.card-title,
        i.far.fa-calendar-alt,
        i.fas.fa-tags {
            font-size: 12px;
        }
        section.content-news .card-img-overlay p.card-text {
            font-size: 10px;
        }
        section.news-anime h4 {
            margin-bottom: 25px;
        }
        .slick-initialized .slick-slide h3 {
            width: 89%;
        }
        .text-watch {
            margin-top: 60px;
        }
        .img-items {
            height: 100%;
        }
        .view-more {
            margin: 50px 0;
        }
        .scrolled-nav {
            line-height: 1.3rem !important;
        }
    }