* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#main-full {
    height: 60px;
    background-color: #f7f7f7;
    line-height: 60px;
    box-shadow: 0px 0px 2px gainsboro;
}

.main-menu {
    width: 1000px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.main-menu ul.main-index>li {
    float: left;
    position: relative;
}

.main-menu .main-index li a {
    padding: 10px;
    text-decoration: none;
    color: #92929d;
    transition: all 0.4s ease-out;
}

.main-item {
    position: absolute;
    width: 800px;
    top: 61px;
    left: -2px;
    display: none;
    box-shadow: 0px 0px 2px gainsboro;
}

.main-menu ul li:hover .main-item {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.main-menu .main-index li ul.main-item li a {
    color: #635a5a;
    font-size: 13px;
    display: block;
    height: 30px;
    line-height: 30px;
}

.main-menu .main-index li ul.main-item li:hover {
    background-color: whitesmoke;
}

.main-menu .main-index li:hover a,
.main-menu .main-index li ul.main-item li:hover a {
    color: #6e55b4;
}

ul.main-index>li.visited a:visited {
    color: #6e55b4;
}