#topheader
  nav.navbar.navbar-light.navbar-expand-md.bg-light.justify-content-center.fixed-top
    a.navbar-brand.d-flex.w-50.mr-auto(href='./index.html')
      img.img-fluid(src='./img/logo_white.png' alt='#')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsingNavbar3')
      span.navbar-toggler-icon
    #collapsingNavbar3.navbar-collapse.collapse.w-100
      ul.navbar-nav.w-100.justify-content-center#itemsmenu
        li.nav-item.active( data-toggle="tab" role="tab")
          a.nav-link(href='./index.html') ANIME
        li.nav-item( data-toggle="tab" role="tab")
          a.nav-link(href='./movies.html') MOVIES
        li.nav-item( data-toggle="tab" role="tab")
          a.nav-link(href='./trends.html') BXH
        li.nav-item( data-toggle="tab" role="tab")
          a.nav-link(href='./news.html') TIN TỨC
        li.nav-item( data-toggle="tab" role="tab")
          a.nav-link(href='./contacts.html') LIÊN HỆ
      ul.nav.navbar-nav.ml-auto.w-100.justify-content-end.nav-search
        li.nav-item
          .search
            input.form-control.input-sm(type='text' maxlength='64' placeholder='Search')
            button.btn.btn-primary.btn-sm(type='submit')
              i.fa.fa-search(aria-hidden='true')
        li.nav-item
              i.far.fa-lightbulb

