nav.navbar.navbar-light.navbar-expand-md.bg-light.justify-content-center.fixed-top.navwatch
  a.navbar-brand.d-flex.w-50.mr-auto(href='./index.html')
    img.img-fluid(src='./img/logo_white.png' alt='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsingNavbar3')
    span.navbar-toggler-icon
  #collapsingNavbar3.navbar-collapse.collapse.w-100
    ul.navbar-nav.w-100.justify-content-center
      li.nav-item
        a.nav-link.hvr-underline-from-left(href='./index.html') ANIME
      li.nav-item
        a.nav-link.hvr-underline-from-left(href='./movies.html') MOVIES
      li.nav-item
        a.nav-link.hvr-underline-from-left(href='./trends.html') BXH
      li.nav-item
        a.nav-link.hvr-underline-from-left(href='./news.html') TIN TỨC
      li.nav-item
        a.nav-link.hvr-underline-from-left(href='./contacts.html') LIÊN HỆ
    ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
      li.nav-item
        a.nav-link(href='#') <i class="fas fa-search"></i>
      li.nav-item
        a.nav-link(href='#') <i class="far fa-lightbulb"></i>
