.center
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/the-ancient-magus-bride-8591-1.jpg' alt='#')
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/277c2661aabedbed_f0f76383aa7bf705_14045615677773094185710.jpg' alt='#')
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/adef363ede8579ad_9e9359fa9e25c88e_90071156545906339674.jpg' alt='#')
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/8f26727cf732f2b9_f51c70d3ceb1b3e0_11959215635972575185710.jpg' alt='#')
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/f9f07ce2bcd54b37_98d2d8a1b169e7b2_18753915635989121185710.jpg' alt='#')
  div
    a(href='./watch.html') 
      img.img-fluid(src='./img/slider/ad0cd34ebb20c84e_d7eee25416c9156a_17778115635980387185710.jpg' alt='#')
