* {
    margin: 0;
    padding: 0;
}

.webtechmaster ul {
    list-style: none;
    line-height: 25px;
}

.webtechmaster h3 {
    padding: 10px;
    color: white;
}

.webtechmaster ul li,
.webtechmaster ul li a {
    color: #919294;
    text-decoration: none;
}

.webtechmaster ul li a:hover {
    text-decoration: underline;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}

body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-techmaster ul {
    list-style: none;
}

.menu-techmaster ul li {
    display: inline-block;
}

.menu-techmaster ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px;
    display: block;
}

.menu-techmaster ul li a:hover {
    background-color: #0782c1;
}

.footer {
    padding: 60px;
    background-color: #222428;
}