footer.footer-main
    .container
        .row
            .col-md-4
                h6 Thế Giới Anime
                .card-visa
                    a(href='#')
                        img.img-fluid(src='./img/footer/Badges.png' alt='card visa')
                    a(href='#')
                        img.img-fluid(src='./img/footer/blackamazonsvg.png' alt='card visa')
                    a(href='#')
                        img.img-fluid(src='./img/footer/US_UK_Download_on_the.png' alt='card visa')
                p Xem phim hoạt hình hay nhất , mới nhất, chất lượng cao nhất Việt Nam
            .col-md-2
                h6 Theo dõi chúng tôi
                .social-icon
                    a.icon-button.twitter(href='#')
                        i.fab.fa-twitter
                        span
                    a.icon-button.facebook(href='#')
                        i.fab.fa-facebook-f
                        span
                    a.icon-button.instagram(href='#')
                        i.fab.fa-instagram
                        span
                    a.icon-button.google-plus(href='#')
                        i.fab.fa-google-plus-g
                        span
                    a.icon-button.youtube(href='#')
                        i.fab.fa-youtube
                        span
                    a.icon-button.pinterest(href='#')
                        i.fab.fa-pinterest
                        span
            .col-md-3
                h6 Flickr Gallery
                .gallery-footer
                    .row
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/images.jpg' alt='card visa')
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/awesome-anime-wallpapers-1920x1080-anime-wallpaper-pc-full-hd.jpg' alt='card visa')
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/top-best-upcoming-anime-2018-list.jpg' alt='card visa')
                    .row
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/the-ancient-magus-bride-8591-1.jpg' alt='card visa')
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/549538.jpg' alt='card visa')
                        .col-md-4.img-gallery
                            img.img-fluid.img-thumbnail.hvr-glow(src='./img/slider/1.jpg' alt='card visa')
            .col-md-3
                h6 Movies
                .row
                    .col-md-6
                        ul
                            li
                                a(href="") Anime Mới
                            li
                                a(href="") Movies Mới
                            li
                                a(href="") Phổ Biến Nhất
                            li
                                a(href="") Top Trailer
                            li
                                a(href="") Tin Tức Phim
                    .col-md-6
                        ul
                            li
                                a(href="") Thông Tin
                            li
                                a(href="") Gallery
                            li
                                a(href="") Dịch Vụ
                            li
                                a(href="") Chính sách bảo mật
                            li
                                a(href="") Liên Hệ
section.copyright
    .container-fluid
        .row
            .col-md-6
                a(href="")
                    img(src="./img/logo_black.png", alt="logo-footer")
            .col-md-6.text-right.copyright-p
                p Copyright © 2019 Tg-Anime.com, Inc.