.container-fluid
  .row
    .col-md-12
      h3 PHIM MỚI NHẤT
      .carousel2-1.wow.slideInUp
        .carousel.lightbox
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')
              img.img-fluid(src='./img/slider/the-ancient-magus-bride-8591-1.jpg' alt='#')
            a.stretched-link(href='https://www.google.pl/' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/ddbaba' data-caption='Caption 1')
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')  
              img.img-fluid(src='./img/slider/277c2661aabedbed_f0f76383aa7bf705_14045615677773094185710.jpg' alt='#')
            a.stretched-link(href='#' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/ca9db8' data-caption='Caption 1')
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')
              img.img-fluid(src='./img/slider/8f26727cf732f2b9_f51c70d3ceb1b3e0_11959215635972575185710.jpg' alt='#')
            a.stretched-link(href='#' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/b59dca' data-caption='Caption 1')
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')
              img.img-fluid(src='./img/slider/f9f07ce2bcd54b37_98d2d8a1b169e7b2_18753915635989121185710.jpg' alt='#')
            a.stretched-link(href='#' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/ffcc99' data-caption='Caption 1')
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')
              img.img-fluid(src='./img/slider/cb263466874ffffb_93162ae75c1eff75_17453815640288957185710.jpg' alt='#')
            a.stretched-link(href='#' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/9daaca' data-caption='Caption 1')
          .card(data-caption='Lorem ipsum 1000/700')
            a(href='./watch.html')
              img.img-fluid(src='./img/slider/adef363ede8579ad_9e9359fa9e25c88e_90071156545906339674.jpg' alt='#')
            a.stretched-link(href='#' target='_blank')
            a.open-lightbox(href='https://via.placeholder.com/1920x1080/a19dca' data-caption='Caption 1')
