.col-md-4
                    .quick-search
                        h3 Tìm Kiếm Nhanh
                        form(role='search' method='get' action='#' autocomplete='off')
                                .input-group
                                    input.form-control.mb-2.mr-sm-2.mb-sm-0(type='text' placeholder='Nhập Từ Khóa...' name='s' autocomplete='off')
                                    button.btn.btn-primary.mb-2.mb-sm-0(type='submit') Tìm Kiếm
                    .advanced-search
                        h3 Tìm Kiếm Nâng Cao
                        .form-sort
                            .sort-info
                                b  Sắp Xếp
                                form(role='search')
                                        .input-group
                                            select#exampleFormControlSelect1.form-control
                                                option Tên Phim
                                                option Lượt Xem
                                                option Mới Cập Nhật
                                                option Năm Xuất Bản
                            .sort-info
                                b  Loại
                                form(role='search')
                                        .input-group
                                            select#exampleFormControlSelect1.form-control
                                                option Phim Lẻ
                                                option Phim Bộ
                            .sort-info
                                b Thể Loại
                                form(role='search')
                                        .input-group
                                            select#exampleFormControlSelect1.form-control
                                                option Hành Động
                                                option Khoa Học Viễn Tưởng
                                                option Lãng Mạn
                                                option Kinh Dị
                                                option Hài Hước
                                                option Trường Học
                                                option Trinh Thám
                                                option Siêu Nhiên
                                                option Phiêu Lưu
                                                option Đời Thường
                                                option Robot
                                                option Game
                                                option Thể Thao
                                                option Kịch Tính                                                                             
                            .sort-info
                                b Quốc Gia
                                form(role='search')
                                        .input-group
                                            select#exampleFormControlSelect1.form-control
                                                option Ấn Độ
                                                option Anh
                                                option Hàn Quốc
                                                option Hồng Kông
                                                option Mỹ
                                                option Nhật Bản
                                                option Pháp
                                                option Tây Ban Nha
                                                option Thái Lan
                                                option Trung Quốc
                                                option Đài Loan
                                                option Việt Nam
                            .sort-info    
                                b Ngày Phát Hành (Thấp - Cao)
                                form(role='search')
                                        .input-group
                                            select#inlineFormCustomSelect.custom-select.mr-sm-2
                                                option(selected='') 1992
                                                option(value='1') 1991
                                                option(value='2') 1992
                                                option(value='3') 1993
                                            select#inlineFormCustomSelect.custom-select.mr-sm-2
                                                option(selected='') 2019
                                                option(value='1') 2017
                                                option(value='2') 2018
                                                option(value='3') 2019
                            button.btn.btn-primary.mb-2.mb-sm-0(type='submit') Tìm Kiếm    
                            button.btn.btn-danger.mb-2.mb-sm-0(type='submit') Khôi Phục
                    .news-signup
                        h3 Đăng Kí Nhận Tin
                        p Theo dõi danh sách gửi thư của chúng tôi để nhận tin tức phim mới nhất vào hộp thư đến email của bạn!
                        form(role='search' method='get' action='#' autocomplete='off')
                                .input-group
                                    input.form-control.mb-2.mr-sm-2.mb-sm-0(type='text' placeholder='Nhập Email Của Bạn' name='s' autocomplete='off')
                                    button.btn.btn-primary.mb-2.mb-sm-0(type='submit') Đăng Kí