<div class="addMovies">
    <h2>List Movies</h2>
    <div>
        <label for="name"> Movie Name: 
                <input type="text" #movieName />
            </label>
        <button (click)="add(movieName.value); movieName.value=''">
                    add Name Movies
                  </button>
    </div>
</div>
<ul class="movies">
    <li *ngFor="let movies of movies">
        <a routerLink="/detail/{{movies.id}}">
            <div class="img-left"> <img [src]="movies.img" alt="{{movies.name}}"></div>
            <div class="text-right">
                <span class="status">{{movies.id}}. </span>
                <h4>{{movies.name}}</h4>
                <p>{{movies.description}}</p>
            </div>
        </a>
        <button class="delete" title="delete movies" (click)="delete(movies)">Delete</button>
    </li>
</ul>