extends template-parts/layout.pug
block header
    title TG Anime - Trang chủ
block content
    header.header
        .bg(style='opacity: 0.9;')
            video.pc(loop='' muted='' preload='none' autoplay='')
                source(src='video/bg_visual.mp4' type='video/mp4')
            .text-banner
                h3 TG ANIME
                h1 ANIME IS MY LIFE
                h2 THẾ GIỚI - PHIM HOẠT HÌNH
    section.slider
        .container-fluid
            .row
                .col-md-12
                    block titleslide
                    h3 PHIM HAY NHẤT
                    include template-parts/slider.pug
    section.content-anime
        .container
            .row
                .col-md-8
                    .row.wow.slideInUp
                        .content-tops
                            .card
                                .row
                                    .col-md-4
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100.hvr-glow(src='./img/listmovies/the-crew.jpeg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')                                        
                                    .col-md-8
                                        .card.h-100
                                            .card-header.bg-transparent Anime
                                            .card-body.text-dark 
                                                a(href='./watch.html')
                                                    h5.card-title VUA HẢI TẶC TẬP 901
                                                p.card-text
                                                | Vua hải tặc kể về chuyến hành trình tìm kho báu huyền thoại One Piece là biểu tượng lịch sử khi nó đã từng thuộc về hai hải tặc vĩ đại: Vua Hải Tặc Gol D. Roger và Tứ Hoàng Shank "tóc đỏ"...
                                           
                                                i.fas.fa-arrow-right
                                            .card-footer.bg-transparentk
                                                .star-votes
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star-half-alt
                                                    i.far.fa-star                          
                                            .card-footer.bg-transparentk
                                                .icon-votes
                                                    i.far.fa-calendar-alt
                                                        span 2019
                                                    i.fas.fa-tags 
                                                        a(href="") Hành Động, 
                                                        a(href="") Hài Hước,
                                                        a(href="")  Phiêu Lưu
                    .row.wow.slideInUp
                        .content-tops
                            .card
                                .row
                                    .col-md-4
                                         .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100.hvr-glow(src='./img/listmovies/relife-7011.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')   
                                    .col-md-8
                                        .card.h-100
                                            .card-header.bg-transparent Anime
                                            .card-body.text-dark 
                                                a(href='./watch.html')
                                                    h5.card-title SENKI ZESSHOU SYMPHOGEAR TẬP 62
                                                p.card-text
                                                | Trong tương lai con người bị một loài quái vật bí ẩn ”Designated Aberrant Disaster: Noise” tấn công. Nhóm song ca nổi tiếng ”Twei Wing” đã mặc những bộ giáp vũ trang thế hệ mới ”Symphogear” chiến đấu chống lại Noise bảo vệ Trái Đất....
                                                i.fas.fa-arrow-right                                              
                                            .card-footer.bg-transparentk    
                                                .star-votes
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star-half-alt
                                                    i.far.fa-star                                         
                                            .card-footer.bg-transparentk
                                                .icon-votes
                                                    i.far.fa-calendar-alt 
                                                        span 2018
                                                    i.fas.fa-tags 
                                                        a(href="") Hành Động
                    .row.wow.slideInUp
                        .content-tops
                            .card
                                .row
                                    .col-md-4
                                         .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100.hvr-glow(src='./img/listmovies/the-ancient-magus-bride-those-awaiting-a-star-7758.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .col-md-8
                                        .card.h-100
                                            .card-header.bg-transparent Anime
                                            .card-body.text-dark 
                                                a(href='./watch.html')
                                                    h5.card-title FRUITS BASKET (2019) TẬP 23
                                                p.card-text
                                                | Truyện dựa trên sự tích Mười Hai Con Giáp của Trung Quốc.Vì nhà ông phải sửa lại và do sợ ảnh hưởng đến bạn bè. Sau đó Sohma Kyo, kẻ thù truyền kiếp của Yuki xuất hiện.[Một chuyện thú vị đã xảy ra...
                                                i.fas.fa-arrow-right                                              
                                            .card-footer.bg-transparentk    
                                                .star-votes
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star-half-alt
                                                    i.far.fa-star                                                                                              
                                            .card-footer.bg-transparentk
                                                .icon-votes
                                                    i.far.fa-calendar-alt 
                                                        span 2019
                                                    i.fas.fa-tags 
                                                        a(href="") Lãng Mạn,
                                                        a(href="")  Hài Hước,
                                                        a(href="")  Đời Thường,
                                                        a(href="")  Giả Tưởng
                    .row.wow.slideInUp
                        .content-tops
                            .card
                                .row
                                    .col-md-4
                                         .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100.hvr-glow(src='./img/listmovies/poster.medium.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .col-md-8
                                        .card.h-100
                                            .card-header.bg-transparent Anime
                                            .card-body.text-dark 
                                                a(href='./watch.html')
                                                    h5.card-title HỘI PHÁP SƯ TẬP 325
                                                p.card-text
                                                | Fairy Tail (Hội Pháp Sư) là một series truyện tranh Nhật Bản được những chương truyện riêng được nhà xuất bản Kodansha tổng hợp và phát hành thành từng tập. Tính đến tháng 10 năm 2008, đã có 12 tập truyện Fairy Tail được phát hành. Xuyên suốt câu chuyện là cuộc phiêu lưu của một Sorceress tên là Lucy Heartphilia....
                                           
                                                i.fas.fa-arrow-right                                              
                                            .card-footer.bg-transparentk    
                                                .star-votes
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star
                                                    i.fas.fa-star-half-alt
                                                    i.far.fa-star                                                                                              
                                            .card-footer.bg-transparentk
                                                .icon-votes
                                                    i.far.fa-calendar-alt 
                                                        span 2019
                                                    i.fas.fa-tags 
                                                        a(href="") Hài Hước,
                                                        a(href="")  Phiêu Lưu,
                                                        a(href="")  Giả Tưởng
                        .view-more
                            a.viewmore-button(href='#')
                                | VIEW MORE 
                                i.fas.fa-level-down-alt
                include template-parts/sort.pug
    section.news-anime
        .container
            .row
                .col-md-5
                    h1 TIN TỨC ANIME
                    h4 Tổng Hợp Tin Tức Hoạt Hình Mới Nhất
                    .row.wow.rotateInUpLeft
                        .col-md-6
                            .images-new
                                a(href='./infos.html')
                                    img.img-fluid.hvr-glow.img-thumbnail(src='./img/slider/peace-sign-10255-3.jpg' alt='list movies')
                                p.titlenew 
                                    a(href="./infos.html") VINLAND SAGA ĐÃ BỊ ĐÁNH BẠI BỞI...?
                        .col-md-6
                            .images-new
                                a(href='./infos.html')    
                                    img.img-fluid.hvr-glow.img-thumbnail(src='./img/slider/the-ancient-magus-bride-8591-1.jpg' alt='list movies')
                                P.titlenew 
                                    a(href="./infos.html") 7 NẠN NHÂN TRONG VỤ HỎA HOẠN KYOTO...                              
                    .row.wow.rotateInUpRight
                        .col-md-12
                            .images-newbig
                                a(href='./infos.html')
                                    img.img-fluid.hvr-glow.img-thumbnail(src='./img/slider/awesome-anime-wallpapers-1920x1080-anime-wallpaper-pc-full-hd.jpg' alt='list movies')        
                                p.titlenewbig 
                                    a(href="./infos.html") ONE PIECE: TÔI MUỐN KẾT THÚC CÂU CHUYỆN TRONG 5 NĂM NỮA!
                .col-md-7
                    .row
                        .col-md-12
                            .images-new
                                img.img-fluid(src='./img/bg_introduction.png' alt='list movies')
    include template-parts/footer.pug
    a(href="")#backtotop
        i.fas.fa-chevron-circle-up