extends template-parts/layout.pug
block header
    title Phim Hoạt Hình
block content
    header.movies
        
    section.content-anime
        .container
            .row
                .col-md-8
                    .row
                        .col-md-6.wow.fadeInLeft
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/277c2661aabedbed_f0f76383aa7bf705_14045615677773094185710.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')
                                            h5.card-title QUANZHI GAOSHOU ZHI DIANFENG RONGYAO
                                        p.card-text
                                            | Câu chuyện xoay quanh hai người bạn học cao trung Shin và Kotori. Khi mẹ qua đời từ lúc cậu còn nhỏ...

                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Hành Động,
                                                a(href="")  Hài Hước,
                                                a(href="")  Viễn Tưởng
                        .col-md-6.wow.fadeInRight
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/cb263466874ffffb_93162ae75c1eff75_17453815640288957185710.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')
                                            h5.card-title ASHITA SEKAI GA OWARU TOSHITEMO
                                        p.card-text
                                            | Câu chuyện xoay quanh hai người bạn học cao trung Shin và Kotori. Khi mẹ qua đời từ lúc cậu còn nhỏ...
                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Hành Động,
                                                a(href="")  Hài Hước,
                                                a(href="")  Học Đường
                    .row
                        .col-md-6.wow.fadeInLeft
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/549538.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')
                                            h5.card-title ASHITA SEKAI GA OWARU TOSHITEMO
                                        p.card-text
                                            | Câu chuyện xoay quanh hai người bạn học cao trung Shin và Kotori. Khi mẹ qua đời từ lúc cậu còn nhỏ...

                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Hành Động,
                                                a(href="")  Hài Hước,
                                                a(href="")  Phiêu Lưu
                        .col-md-6.wow.fadeInRight
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/the-ancient-magus-bride-8591-1.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')
                                            h5.card-title VIOLET EVERGARDEN GAIDEN: EIEN TO JIDOU SHUKI NINGYOU
                                        p.card-text
                                            | Đây là một câu chuyện bên lề...

                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Đời Thường,
                                                a(href="")  Giả Tưởng
                    .row
                        .col-md-6.wow.fadeInLeft
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/f9f07ce2bcd54b37_98d2d8a1b169e7b2_18753915635989121185710.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')
                                            h5.card-title BOKU NO HERO ACADEMIA THE MOVIE 2: HEROES:RISING
                                        p.card-text
                                            | Tác giả đã giải thích rằng movie thứ hai này có thể được mô tả như một dạng kết của Boku no Hero Academia....

                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Hành Động,
                                                a(href="")  Hài Hước,
                                                a(href="")  Trường Học
                        .col-md-6.wow.fadeInRight
                            .card-deck.h-100
                                .card.hvr-glow
                                    .items-play-img
                                        a(href='./watch.html')
                                            .img-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/slider/ade34e45362e6d9a_a75f4a75f9f5d1b6_15671515635976283185710.jpg' alt='list movies')
                                            .icon-items
                                                img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                    .card-body
                                        a(href='./watch.html')    
                                            h5.card-title TOÀN CHỨC CAO THỦ MOVIE - QUANZHI GAOSHOU ZHI DIANFENG RONGYAO
                                        p.card-text
                                            | Movie của Toàn Chức Cao Thủ....

                                    .card-footer.bg-transparentk
                                        .star-votes
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star
                                            i.fas.fa-star-half-alt
                                            i.far.fa-star                          
                                    .card-footer.bg-transparentk
                                        .icon-votes
                                            i.far.fa-calendar-alt
                                                span 2019
                                            i.fas.fa-tags
                                                a(href="")  Hành Động,
                                                a(href="")  Game
                        .view-more
                            a.viewmore-button(href='#')
                                | VIEW MORE 
                                i.fas.fa-level-down-alt
                include template-parts/sort.pug
    section.slider
        include template-parts/slider.pug
    include template-parts/footer.pug
