extends template-parts/layout.pug
block header
    title Bảng Xếp Hạng
block content
    header.trends
    section.content-trends
        .container-fluid
            .row
                .col-lg-12
                    .portfolioFilter.clearfix
                        a.current(href='#' data-filter='*') Tất Cả
                        a(href='#' data-filter='.webTemplates') Xu Hướng
                        a(href='#' data-filter='.logos') Xếp hạng hàng đầu
                        a(href='#' data-filter='.drawings') Top Anime Mới Nhất
                        a(href='#' data-filter='.ui') Top Movies Mới Nhất
                    .portfolioContainer
                        .webTemplates.objects.logos
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/darling-in-the-franxx-8969.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 1
                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title Vua Hải Tặc
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2017
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 144,279,366                  
                        .webTemplates.food.logos
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/fate-stay-night-unlimited-blade-works-2-6861.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 2
                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title BORUTO AND NARUTO
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 28,681,801
                        .logos.drawings
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/peace-sign-10255.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 3
                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title HỘI PHÁP SƯ
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 30,869,439
                        .webTemplates.logos
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/tegami-bachi-letter-bee-reverse-3282.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 4

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title NANATSU NO TAIZAI
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2016
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 11,293,978
                        .logos
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/you-and-me-2-4688.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 5

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title ONE PUNCH MAN
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 8,007,631
                        .logos
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/yuru-yuri-2-4671.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 6
                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title COP CRAFT
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2015  
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 1,273,754
                        .webTemplates
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/rakshasa-street-8146.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 7

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title ARIFURETA SHOKUGYOU DE SEKAI SAIKYOU
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2015   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 23,481,249
                        .ui
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/relife-7011.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 8

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title BLACK CLOVER
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star-half-alt
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 9,969,966
                        .drawings
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/tegami-bachi-letter-bee-2686.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 9

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title DORAEMON 
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star-half-alt
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 2,556,906 
                        .ui
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/yuri-on-ice-7793.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 10

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title ENEN NO SHOUBOUTAI
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star-half-alt
                                                i.far.fa-star
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 235,654
                        .drawings.places
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/eyeshield-21-966.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 11
                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title KIMETSU NO YAIBA
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star-half-alt
                                                i.far.fa-star
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 232,773      
                        .drawings
                           .card-data
                                .card-deck.h-100
                                    .card.hvr-glow
                                        .items-play-img
                                            a(href='./watch.html')
                                                .img-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/listmovies/the-ancient-magus-bride-those-awaiting-a-star-7758.jpg' alt='list movies')
                                                .icon-items
                                                    img.card-img-top.img-fluid.h-100.w-100(src='./img/icon-play.png' alt='list movies')
                                                .text-adward
                                                    b 12

                                        .card-body
                                            a(href='./watch.html')
                                                h5.card-title VINLAND SAGA
                                            .star-votes
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                                i.far.fa-star
                                            .text-votes
                                                span Năm xuất bản: 2019   
                                        .card-footer.bg-transparentk    
                                            .vote-views
                                                span Lượt xem: 184,084

    include template-parts/footer.pug
    a(href="")#backtotop
        i.fas.fa-chevron-circle-up