* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 18px;
}
#content {
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.content-item {
  max-height: 200px;
  flex-basis: 30%;
  background: white;
  border: 1px solid #000;
  margin: 15px;
  border-radius: 5px;
}
.content-item img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  #content {
    width: auto;
  }
  .content-item {
    flex-basis: 100%;
  }
}
