.main {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    position: relative;
}

.op.code {
    animation: code 25s infinite;
    position: absolute;
    opacity: 1;
    animation-delay: 4s;
}

@keyframes code {
    0% {
        background-color: yellow;
        opacity: 1;
    }
}

.op.learn {
    animation: learn 15s infinite;
    position: absolute;
    opacity: 0;
    animation-delay: 4s;
}

@keyframes learn {
    0% {
        background-color: blue;
        opacity: 1;
    }
}

.op.teacher {
    animation: teacher 5s infinite;
    position: absolute;
    opacity: 0;
    animation-delay: 4s;
}

@keyframes teacher {
    0% {
        background-color: green;
        opacity: 1;
    }
}