body{
	margin: 0;
}
.wrapper > div{
	float: left;
	width: calc(100% / 3 - 10px);
	height: 500px;
}

.red{
	background: red;
	margin-right: 15px;
}
.blue{
	background: blue;
}
.green{
	background: green;
	margin-right: 15px;
}