* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.left {
    width: 60%;
    padding-right: 10px;
}

.right {
    width: 40%;
}

div {
    float: left;
}

.red {
    background: red;
    height: 200px;
    width: 100%;
}

.green {
    background: green;
    height: 100px;
    width: 100%;
}

.blue {
    background: blue;
    height: 100px;
    width: 100%;
}