* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
    font-family: 'B612 Mono', monospace;
    box-sizing: border-box;
}

.wrap {
    width: 700px;
    height: 450px;
    padding: 40px;
    border-radius: 10px;
    background: #DEF4FE;
    position: relative;
    margin: 100px auto;
}

.txtsubmit {
    background-color: #ff4b5a;
    padding: 10px 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.4s all ease-out;
    transform: scale(1);
    position: absolute;
    bottom: 35px;
    left: 40px;
}

.txtsubmit:hover {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}

.txtForm {
    width: 400px;
    height: 30px;
    margin: 5px 0;
    background-color: transparent;
    border: 1px solid black;
    padding-left: 10px;
}

.register {
    float: left;
}

::placeholder,
label,
.txtForm {
    color: black;
}

p {
    font-size: 20px;
    padding-left: 100px;
}

.loginsuccess {
    text-align: center;
}

h1 {
    font-size: 40px;
}

small {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.genderinfo {
    margin-top: 10px;
}

label {
    margin-left: 5px;
}