* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
    font-family: 'B612 Mono', monospace;
}

.wrap {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

.txtsubmit {
    margin-top: 30px;
    background-color: #ff4b5a;
    padding: 10px 50px;
    font-weight: bold;
}

.register {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    background: #DEF4FE;
}

.txtForm,
.genderinfo {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    background-color: transparent;
    border: 1px solid black;
    padding-left: 10px;
}

::placeholder,
label,
h1,
.txtsubmit,
.txtForm {
    color: black;
}

.genderinfo {
    margin: auto;
}

.info {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
}

p {
    font-size: 20px;
    text-align: left;
}

.loginsuccess {
    text-align: center;
    padding: 50px;
}

small,
span {
    color: orange;
}

label {
    padding-left: 4px;
}