extends template-parts/layout.pug
block favicon
    link(rel='shortcut icon' type='image/png' href='img/3d-glasses.png')
block header
    title Chi Tiết
    #fb-root
    script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=452092868894850')
block content
    header.infos
    section.content-infos
            .container
                .row
                    .col-md-8
                        .content-infos-news
                            h3 [SPOILER] TÌNH TIẾT CỦA MOVIE ONE PIECE: STAMPEDE
                            span THỂ LOẠI: REVIEW & SPOILER
                            p Bộ anime Carole and Tuesday là câu chuyện kể về hai cô gái, một cô gái. Bỏ cuộc sống ở đô thị của thành phố Alba, cô làm việc bán thời gian trong khi cố gắng trở thành một nhạc sĩ. Cô ấy luôn cảm thấy như thiếu một cái gì đó. Tên cô ấy là Carole. Có một cô gái. Sinh ra trong một gia đình giàu có ở thị trấn Herschel City, cô mơ ước trở thành một nhạc sĩ, nhưng không có ai xung quanh cô hiểu được. Cô cảm thấy mình là người cô đơn nhất thế giới. Tên cô ấy là thứ ba. Một cuộc gặp gỡ cơ hội mang họ lại với nhau. Họ muốn hát. Họ muốn làm âm nhạc. Cùng nhau, họ cảm thấy như họ có thể có cơ hội. Hai người họ chỉ có thể tạo ra một làn sóng nhỏ. Nhưng làn sóng đó cuối cùng sẽ phát triển thành một thứ gì đó lớn hơn ...
                            b.text-danger Một lần nữa, hãy cân nhắc kĩ trước khi kéo xuống để đọc tiếp.
                            p Mở đầu bộ phim là đoạn hồi tưởng về cuộc chiến ở Marineford. Trong lúc Râu Đen đang tập hợp những thủy thủ đoàn của mình thì hắn đã nhìn thấy Bullet trong phòng giam cùng bạn tù bị sát hại dã man. Râu Đen thấy vậy nên đã nhanh chóng rời đi vì quá sợ hãi trước hắn ta. (Đây là lần duy nhất Râu Đen xuất hiện trong movie này).
                            img(src="./img/slider/maxresdefault.jpg", alt="content")
                            p Chuyển cảnh về thực tại, Festa đang dựng lên hội chợ hải tặc và bàn bạc với Bullet về việc chung tay hiện thực hóa kế hoạch của cả hai. Hắn ta nói về việc hội chợ này sẽ là một cơ hội để thay đổi thế giới này.Chuyển cảnh sang băng Mũ Rơm tiếp cận đảo Delta để tham gia hội chợ. Luffy lúc bấy giờ đang rất phấn khích khi biết mình sẽ tham gia tìm kiếm kho báu của Roger. Một đoạn phim ngắn chiếu cảnh Mũ Rơm đến hội chợ và vui chơi tại các địa điểm trong đó. Sau đó, cuộc đua truy tìm kho báu bắt đầu.Những tên tuổi tham gia gồm có băng Mũ Rơm, băng Barto, Cải Bắp, băng hải tặc Foxy và băng mới thành lập của Wapol.Law (trong tình trạng bị thương) đã xuất hiện phía sau hội chợ và nắm được tẩy của hội chợ này.Buggy xuất hiện trong khoảng 30 giây... chỉ để khoe khoang về bản thân hắn ta. Hắn dường như đến muộn cuộc đua vì bỏ lỡ thông tin của hội chợ. Buggy thấy Law nên ra tay tấn công. Law phát hiện ra tàu Sunny nên trốn vào đó vì tin tưởng băng Mũ Rơm.
                            img(src="./img/slider/awesome-anime-wallpapers-1920x1080-anime-wallpaper-pc-full-hd.jpg", alt="content")
                            p Donald Moderate và Ann được giới thiệu là chủ khảo cuộc thi. Ann thể hiện sức mạnh của trái ác quỷ Bijo Bijo no Mi (Hình bên dưới - Trái này cho phép người ăn nó có thể tạo ra ảo ảnh) thông qua việc tạo ra bản mô phỏng con rồng ở arc Punk Hazard. Tiếc thay... đây là lần duy nhất mà sức mạnh của trái ác quỷ này được thể hiện trong movie.
                            p Toàn bộ đều đổ dồn về nơi đó, nhiều trận đụng độ diễn ra. Killer nhảy bổ vào Luffy nhưng Zoro đã chặn hắn lại và tuyên bố "Anh sẽ là đối thủ của mày!". Luffy tiếp tục lao về trước nhưng bị Apoo ngăn lại. Trong lúc họ đang bận chiến đấu thì Kid lợi dụng thời cơ để vượt lên nhưng cũng bị Drake ngăn lại. Luffy sử dụng Elephant Gun đánh bật các đối thủ và tiến về kho báu (lũ kia vẫn còn đuổi bám phía sau).
                        .social-icon
                            a.icon-button.twitter(href='#')
                                i.fab.fa-twitter
                                span
                            a.icon-button.facebook(href='#')
                                i.fab.fa-facebook-f
                                span
                            a.icon-button.instagram(href='#')
                                i.fab.fa-instagram
                                span
                            a.icon-button.google-plus(href='#')
                                i.fab.fa-google-plus-g
                                span
                            a.icon-button.youtube(href='#')
                                i.fab.fa-youtube
                                span
                            a.icon-button.pinterest(href='#')
                                i.fab.fa-pinterest
                                span
                        .comment-facebook
                            .fb-comments(data-href='https://developers.facebook.com/docs/plugins/comments#configurator' data-width='100%' data-numposts='5')

                    .col-md-4
                        .news-day
                            h3 Tin Tức Mới Nhất
                            .card
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/fate-stay-night-unlimited-blade-works-2-6861.jpg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                b.card-title Tin tức anime
                                                a(href='./infos.html')   
                                                    p.card-text 
                                                    | Boku no Hero Academia "nhá hàng" visual cho một mùa mới đầy hấp dẫn!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago

                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/you-and-me-2-4688.jpg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                h6.card-title Tin tức anime
                                                a(href='./infos.html')   
                                                    p.card-text
                                                    | Top 10 cặp đôi anime mùa Hè 2019 tuần 7! - "Cặp đôi quốc dân" đã quay trở lại!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')   
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/relife-7011.jpg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                h6.card-title Nhân vật
                                                a(href='./infos.html')       
                                                    p.card-text
                                                    | Boku no Hero Academia "nhá hàng" visual cho một mùa mới đầy hấp dẫn!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')   
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/the-crew.jpeg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                h6.card-title Tổng Hợp
                                                a(href='./infos.html')   
                                                    p.card-text
                                                    | Boku no Hero Academia "nhá hàng" visual cho một mùa mới đầy hấp dẫn!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')   
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/you-and-me-2-4688.jpg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                
                                                h6.card-title Tin tức anime
                                                a(href='./infos.html')       
                                                    p.card-text
                                                    | Top 10 cặp đôi anime mùa Hè 2019 tuần 7! - "Cặp đôi quốc dân" đã quay trở lại!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')   
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/relife-7011.jpg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                h6.card-title Nhân vật
                                                a(href='./infos.html')       
                                                    p.card-text
                                                    | Boku no Hero Academia "nhá hàng" visual cho một mùa mới đầy hấp dẫn!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago
                                .card.mb-3.hvr-glow
                                    .row.no-gutters
                                        .col-md-4
                                            a(href='./infos.html')   
                                                img.card-img.img-fluid.img-thumbnail(src='./img/listmovies/the-crew.jpeg' alt='news img')
                                        .col-md-8
                                            .card-body
                                                h6.card-title Tổng Hợp
                                                a(href='./infos.html')
                                                    p.card-text
                                                    | Boku no Hero Academia "nhá hàng" visual cho một mùa mới đầy hấp dẫn!
                                                p.card-text
                                                small.text-muted Last updated 3 mins ago                                                
    include template-parts/footer.pug
