* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 18px;
}

.animal {
    width: 1000px;
    margin: 150px auto;
}

.animal-item img {
    width: 200px;
    height: 200px;
    transition: all 0.4s ease-out;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    opacity: 0.7;
}

.animal-item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.animal-item a {
    text-decoration: none;
    text-align: center;
}

.animal-item a img:hover {
    transform: scale(1.5);
    opacity: 1;
}

.animal-full {
    width: 1000px;
    margin: 0 auto;
}

.animal-full img {
    width: 400px;
    height: 400px;
}

.back {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.backtoindex i.fas {
    font-size: 30px;
}

.animal-full ul li {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: 20px 0;
}