ul {
    list-style: none;
}

a {
    padding: 15px;
    text-decoration: none;
}

.main-menu>li {
    float: left;
    position: relative;
    border: 1px solid red;
}

.menu-column {
    display: none;
    position: absolute;
    top: 19px;
    left: 0;
    border: 1px solid red;
    width: 200px;
    background-color: azure;
}

.main-menu>li:hover .menu-column {
    /* // khi re chuot vao li main menu thi ul class menu column hien ra*/
    display: block;
}