* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.img-banner {
    position: fixed;
}

.container.banner-container {
    position: absolute;
    top: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}