* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: #FFFFFF;
}

h3 {
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

header {
    background: url('../img/bg-top.png') no-repeat;
    background-size: 100%;
}

.order-info {
    background: url('../img/Mask.png') no-repeat;
    background-size: 100%;
    height: 1016px;
    margin-top: 300px;
    position: relative;
}

.bg-light {
    background-color: transparent!important;
    padding-top: 60px;
}

.row.btn-order {
    position: absolute;
    left: 51%;
    bottom: 11%;
    transform: translate(-50%, -50%);
}

footer {
    background: url('../img/Rectangle\ 7.png') no-repeat;
    background-size: 100%;
    height: 722px;
    position: relative;
    margin-top: 250px;
}

a.nav-link {
    color: white!important;
}

.mobile-child {
    position: absolute;
    top: -10%;
    left: 35%;
}

.mobile-parent {
    position: relative;
    margin-left: 35px;
}

img {
    max-width: 100%;
}

section.mobile-banner {
    margin-top: 100px;
}

.quotes {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 100px;
    background: url('../img/oval1.png') right -3rem no-repeat;
    background-size: 3%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.container.text-center.text-md-left {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

section.bussiness {
    width: 100%;
    height: 600px;
    margin: 260px 0 60px;
    background: url('../img/oval.png') left 0rem no-repeat;
    background-size: 3%;
}

section.everything {
    margin-top: 200px;
}

.top-everything {
    margin-bottom: 150px;
}

.everything h3 {
    margin: 40px 0 20px;
}

.everything p {
    padding: 0 50px;
}

.bussiness p {
    margin: 10px 0 70px;
}

.bussiness .img-card {
    padding: 0 30px;
}

.quotes h3 {
    color: #A1A4AC;
    padding: 20px 150px;
}

button.btn.btn-success {
    padding: 15px 25px;
    border-radius: 30px;
}

.bussiness h2 {
    margin-bottom: 20px;
}

.row.btn-bu {
    margin-top: 60px;
}

.card {
    box-shadow: 1px 1px 24px whitesmoke;
}

.btn-bu button.btn.btn-success.m-auto {
    padding: 12px 25px;
    border-radius: 20px;
    background: white;
    color: black;
    border-color: black;
}

.text-banner h2 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.text-banner p {
    color: #A1A4AC;
    margin: 25px 0 40px;
}

.text-banner button.btn.btn-success {
    margin-right: 20px;
}

.text-banner a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.right-banner {
    margin-top: 100px;
    padding: 0 48px;
}

li.nav-item {
    margin-right: 20px;
}

h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

h6.mb-0 {
    color: white;
}

i.fa {
    border-radius: 50%;
    background: white;
    padding: 10px;
    color: black;
}

a:hover i.fa {
    color: green;
}

.list-unstyled li a {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.9;
    text-decoration: none;
}

.text-center.logo-footer {
    margin: 50px 0;
}

.group2 h3 {
    padding-bottom: 15px;
}

.col-md-3.bottom-order {
    margin-top: 130px;
}

.menu-itemsfooter {
    padding: 0 50px;
}

.phone-footer {
    background: white;
    border-top: 4px solid green;
    padding: 70px 200px;
    position: absolute;
    top: -18%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
}

.phone-footer img {
    margin: 15px 25px 0;
}

.group2 {
    padding: 50px;
    border-radius: 5px;
    margin: 70px 0;
    box-shadow: 0px -2px 14px whitesmoke;
}

.iphone-order {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.list-unstyled li:hover a {
    color: green;
}

.group2 p,
.everything p,
.card-text,
p {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #A1A4AC;
}

@media (min-width:1200px) {
    .container {
        max-width: 1410px;
        max-height: 100%;
    }
}

@media (max-width:1140px) {
    .phone-footer {
        padding: 50px 120px;
        top: -40%;
    }
    .iphone-order {
        left: 41%;
    }
    .right-banner {
        margin-left: 50px;
    }
    section.bussiness {
        margin: 0px 0 60px;
    }
    .text-center.logo-footer {
        margin: 20px 0;
    }
    h5 {
        margin-bottom: 0;
    }
    footer {
        height: 468px;
    }
    .pb-3,
    .py-3 {
        padding-bottom: 0!important;
    }
}

@media (max-width:540px) {
    .right-banner {
        margin: 0;
    }
    .text-banner h2 {
        color: black;
    }
    .top-everything {
        margin-bottom: 40px;
    }
    section.everything {
        margin-top: 20px;
    }
}