@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    overflow-x: hidden;
    color: #212121;
}

.container {
    height: 100%;
}

section,
aside,
footer {
    overflow: auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #212121;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    letter-spacing: 0.5px;
}

.clear {
    clear: both;
}


/* MAIN*/

.main-page-content {
    padding: 40px 0 40px 0;
    height: 100vh;
    /* theo height container */
    width: 100%;
}

.main-page-s {
    background: #FFF;
    height: 100%;
    /* theo height main-page-content */
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .2);
}


/* SIDEBAR */

.sidebar {
    height: 100%;
    border-right: 1px solid #ededed;
    padding: 30px 0;
    float: left;
    text-align: center;
    position: relative;
    width: 80px;
}


/* NAVBAR MENU */

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li:last-child {
    margin-bottom: 0;
}

.sidebar ul li a {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0;
    color: #646464;
    -webkit-transition: linear .1s;
    transition: linear .1s;
}

.sidebar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ebebeb;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
}

.sidebar ul li a i {
    font-size: 16px;
}

.sidebar ul .active a:before {
    background: #333;
}

.sidebar ul .active a i {
    color: #FFF;
}

.sidebar ul li a:hover::before {
    background: #333;
}

.sidebar ul li a:hover i {
    color: #FFF;
}


/* SOCIAL ICONS */

.sidebar .social {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.sidebar .social a {
    display: block;
    margin-bottom: 10px;
}

.sidebar .social a:last-child {
    margin-bottom: 0;
}

.sidebar .social a i {
    color: #555;
}

.sidebar .social a:hover i {
    color: #212121;
}


/* TYPED */

.typed-cursor {
    display: none;
    border-bottom-width: 0;
}

#typed-strings {
    margin: 0 auto;
}

#typed-strings h1 {
    font-size: 67px;
    margin: 10px 0;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
}

#typed-strings h3 {
    letter-spacing: 5px;
    position: relative;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

#typed-strings h3 span {
    letter-spacing: 3px;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #333;
    color: #ffffff;
    line-height: 51px;
    padding: 7px;
}


/* RIGHT BAR */

.right-main {
    margin-left: 80px;
    height: 100%;
}

.home-background {
    position: relative;
    background-color: #AAB2BD;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.home-overlay {
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100%;
}

.home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.resume {
    height: 100%;
}