* {
    margin: 0;
    padding: 0;
}

body {
    width: 1170px;
    margin: 0 auto;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600px;
}

ul li {
    margin-left: 50px;
}

p {
    color: black;
    font-weight: 500px;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #0782c1;
}