@font-face {
    font-family: 'proximanova-mediuuploadedfile';
    src: url('../Fonts/Proxymanova/proxima_nova_medium-webfont.woff2') format('woff2'), url('../Fonts/Proxymanova/proxima_nova_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../Fonts/Proxymanova/proximanova-semibold-webfont.woff2') format('woff2'), url('../Fonts/Proxymanova/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../Fonts/Proxymanova/proximanova-semibold-webfont.woff2') format('woff2'), url('../Fonts/Proxymanova/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displayblack';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-black-58646a6b80d5a-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-black-58646a6b80d5a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaybold';
    src: url('Fonts/sf-ui-display-cufonfonts/f-ui-display-bold-58646a511e3d9-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-bold-58646a511e3d9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displayheavy';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-heavy-586470160b9e5-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-heavy-586470160b9e5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaylight';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaymedium';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-regular-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaysemibold';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-semibold-58646eddcae92-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-semibold-58646eddcae92-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-thin-58646e9b26e8b-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-thin-58646e9b26e8b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displayultralight';
    src: url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-ultralight-58646b19bf205-webfont.woff2') format('woff2'), url('Fonts/sf-ui-display-cufonfonts/sf-ui-display-ultralight-58646b19bf205-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color: #000000;
}

body {
    box-sizing: border-box;
}

.tracker-banner h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 72px;
}

.featured h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.featured h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 63px;
    /* or 105% */
    text-align: center;
    color: #000000;
}

.featured p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 60px;
}

h3.featured-h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.features a,
i.fa.fa-chevron-right {
    text-decoration: none;
    color: #540CFA;
    font-weight: 700;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: none;
}

p.featured-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.tracking h3,
.tracking h1 {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.tracking h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 63px;
    margin-bottom: 15px;
}

.tracking p,
.tracker-banner p {
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.tracking p {
    margin-bottom: 60px;
}

.tracker-banner p {
    padding-top: 15px;
}

.tracking button.btn.btn-primary {
    position: absolute;
    right: 0;
    top: 0;
}

.tracking .form-group,
.tracker-banner .form-group {
    position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

.tracking label,
.tracker-banner label {
    position: absolute;
    left: 12px;
    top: -8px;
    z-index: 10;
}

.tracking .form-group label,
.tracker-banner .form-group label {
    font-weight: 700;
    color: #540CFA;
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
}

.tracking .form-group input,
.tracker-banner .form-group input {
    padding-top: 2.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1.5rem;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.tracking .form-group button,
.tracker-banner .form-group button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    width: 30%;
}

.btn-primary {
    color: #fff;
    background-color: #540CFA;
    border-color: #540CFA;
}

.mt-5,
.my-5 {
    margin-top: 3rem!important;
}

.tracker-banner {
    position: relative;
    overflow: hidden;
    padding-top: 86px;
}

header.header {
    background-color: #FFFFFF;
}

.tracker-banner::after {
    content: '';
    display: block;
    height: 50rem;
    width: 50rem;
    background: url(../images/Group\ 3.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -9rem;
    right: -18rem;
    z-index: -1;
}

img {
    max-width: 100%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.Compatible {
    margin-top: 60px;
}

span.platforms-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

li.list-inline-item img {
    mix-blend-mode: normal;
    opacity: 0.3;
}

ul.platforms-list.list-inline {
    margin-top: 30px;
}

a.nav-link {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

section.featured {
    margin-top: 100px;
}

.tracking h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.tracker-banner .form-group button {
    position: absolute;
    right: 0;
    top: 0;
}

.tracking p {
    margin-bottom: 60px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.tracking a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    color: #540CFA;
}

.tracking .fa-chevron-right {
    margin-left: 10px;
    font-size: 15px;
    color: #540CFA;
}

.icon i.fa.fa {
    margin-right: 20px;
    mix-blend-mode: normal;
    opacity: 0.2;
    font-size: 25px;
}

p.tracking-p {
    margin-bottom: 20px;
}

.copy-right p {
    margin: 30px 0;
}

.icon {
    margin-top: 100px;
}

.tracking h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.Community {
    height: 754px;
    background: #000000;
    overflow: hidden;
}

.tracking {
    margin-top: 140px;
}

.Community h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-top: 120px;
}

.Community h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 50px;
    color: #FFFFFF;
}

.Community p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding: 10px 0 15px;
}

section.slide {
    margin: 140px 0;
}

section.slide .row {
    margin-right: 0;
    margin-left: 0;
}

section.Community {
    margin-top: 90px;
}

.interfaces-mobile {
    position: relative;
    overflow: hidden;
}

section.interfaces-mobile h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 50px;
    color: #000000;
}

section.interfaces-mobile p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
}

section.interfaces-mobile a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    padding: 25px;
    display: block;
    border-radius: 4px;
    mix-blend-mode: normal;
    opacity: 0.5;
    transition: all 1s ease-out;
}

section.interfaces-mobile a:hover {
    color: #000000;
}

section.interfaces-mobile a img {
    margin-right: 15px;
    overflow: hidden;
}

.screen-interfaces {
    position: relative;
}

img.showcase-image.img-fluid {
    position: absolute;
    right: -43%;
    top: -20%;
    z-index: -1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

@media(max-width: 576px) {
    li.nav-item {
        margin: 0 auto;
    }
    .tracker-banner h1 {
        font-weight: 900;
        font-size: 42px;
        line-height: 48px;
    }
    .tracker-banner p {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
    }
    .features {
        margin-bottom: 40px;
    }
    i.fa.fa-chevron-right {
        font-size: 15px;
    }
    section.slide {
        margin: 40px 0;
    }
    .tracking h1 {
        font-weight: 900;
        font-size: 35px;
        line-height: 40px;
    }
    .btn-primary {
        margin-bottom: 25px;
    }
    .section.Community {
        margin-top: 10px;
    }
    img.showcase-image.img-fluid {
        right: 100%;
    }
}