body {
    background-color: lightgray;
}

.main {
    text-align: center;
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.text {
    position: relative;
    height: 80px;
    overflow: hidden;
}

.learn {
    background-color: green;
    color: white;
    position: absolute;
    animation: fadeinlearn 3s infinite;
    animation-timing-function: ease-out;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

@keyframes fadeinlearn {
    0% {
        top: -50px;
    }
    33% {
        top: -40px;
    }
    66% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}

.coding {
    background-color: brown;
    color: white;
    position: absolute;
    animation: fadeincode 3s infinite;
    animation-timing-function: ease-out;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

@keyframes fadeincode {
    0% {
        top: -30px;
    }
    33% {
        top: 0;
    }
    66% {
        top: -10px;
    }
    100% {
        top: -20px;
    }
}

.teaching {
    background-color: blue;
    color: white;
    position: absolute;
    animation: fadeinteacher 3s infinite;
    animation-timing-function: ease-out;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

@keyframes fadeinteacher {
    0% {
        top: 0;
    }
    33% {
        top: 10px;
    }
    66% {
        top: 20px;
    }
    100% {
        top: 30px;
    }
}