* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 18px;
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-content {
    height: 300px;
    width: 400px;
    transition: 0.5s;
    margin: 0 auto;
    text-align: center;
}

.grid-content img {
    max-height: 400px;
    max-width: 350px;
    padding: 10px;
    font-size: 30px;
    align-items: center;
    display: block;
    margin: 0 auto;
    transition: all 0.4s ease-out;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    opacity: 0.7;
}

.grid-content a {
    color: gray;
    text-decoration: none;
}

.grid-content h1 {
    padding: 10px;
}

.grid-content img:hover {
    transform: scale(1.3);
    opacity: 1;
}

header h1 {
    padding-left: 0;
    animation: move 3s infinite;
    width: 100%;
    margin: 20px;
}

@keyframes move {
    0% {
        padding-left: 0%;
        color: red;
    }
    50% {
        padding-left: 40%;
        color: green;
    }
    100% {
        padding-left: 100%;
        color: blue;
    }
    ;
}

.back {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.backtoindex i.fas {
    font-size: 30px;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
    padding-top: 13px;
    color: red;
}