* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: lightgray;
}

.main {
    width: 300px;
    margin: 100px auto;
}

img {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    padding: 5px;
    border: 1px solid gainsboro;
}

.main-image {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 15px;
}

.item-image {
    transition: all 0.3s ease-out;
}

.item-image:hover {
    transform: scale(2);
    border: none;
}