@font-face {
    font-family: Aileron-Bold;
    src: url("../fonts/Aileron-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Aileron-Regular;
    src: url("../fonts/Aileron-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Aileron-Regular;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    z-index: 30;
    background-color: #2F5BEA !important;
    margin-bottom: 85px;
    padding-top: 30px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: #FFFFFF !important;
    font-size: 17px;
    line-height: 20px;
}

.navbar-light .navbar-brand {
    font-family: Aileron-Bold;
    font-size: 26px;
    line-height: 31px;
    margin-left: 10px;
}

a.nav-link {
    margin-right: 28px;
}

.main-banner {
    max-width: 100%;
    height: 1100px;
    position: relative;
}

.banner1 {
    position: absolute;
    top: 40%;
    z-index: 10;
}

.banner2 {
    position: absolute;
    top: 5%;
    z-index: 20;
}

.banner-text {
    z-index: 40;
    text-align: center;
}

.youtube-video {
    z-index: 50;
    position: relative;
}

.child-youtube {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1 {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 62px;
}

.banner-text p {
    color: #D2D2D2;
    margin: 20px 0 35px;
}

.btn-outline-success,
button.btn.btn-light {
    font-family: Aileron-Bold;
    width: 169px;
    height: 46px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    background: #2F5BEA;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFF;
}

button.btn.btn-light,
.addEmail button {
    width: 255px;
    height: 55px;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #2F5BEA;
    margin-bottom: 67px;
}

button.btn.btn-text,
button.btn.btn-text i.fa.fa-arrow-right {
    font-size: 18px;
    line-height: 22px;
    color: #2C2E30;
    padding: 0;
}

button.btn.btn-text i.fa.fa-arrow-right {
    font-size: 16px;
}

i.fa.fa-angle-down,
.fa.fa-angle-up,
.english {
    margin-left: 10px;
}

.why h3,
.simple h1,
.choose h3 {
    font-family: Aileron-Bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #2C2E30;
}

.why a,
.temp-footer ul li a,
.footer-center ul li a {
    text-decoration: none;
}

.why h3 {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #7E8085;
    margin: 90px 0 20px;
}

.choose {
    margin-top: 75px;
    margin-bottom: 70px;
}

.choose h3 {
    font-size: 24px;
    line-height: 29px;
}

.ml60 {
    margin: 0 62px;
}

.footer-right p,
.choose p,
.left-team p,
.footer-center ul li a,
.footer-left p {
    font-family: Aileron-Regular;
    font-size: 16px;
    line-height: 28px;
    color: #54565A;
}

.choose p a {
    text-decoration: none;
    color: #2F5BEA;
}

.left-team h3,
.left-team h1,
.sortware.choose h3 {
    text-align: left;
}

.video {
    position: relative;
}

.video .oval {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video .oval .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.temp-footer ul li {
    display: inline-block;
    margin-right: 35px;
}

.temp-footer ul li a,
span {
    font-size: 14px;
    line-height: 17px;
    color: #7E8085;
    font-family: Aileron-Bold;
}

.footer-center ul {
    list-style: none;
}

.footer-center ul li a {
    line-height: 39px;
}

.footer-left p {
    line-height: 27px;
}

.footer-right p {
    line-height: 30px;
}

.footer-right {
    text-align: center;
}

section.container-fluid.footer_end {
    height: 75px;
    border-top: 1px solid lightgray;
    padding-top: 25px;
}

.footer-main span {
    font-size: 18px;
    line-height: 22px;
    color: #2C2E30;
    font-family: Aileron-Bold;
}

footer.footer-main {
    margin-top: 130px;
}

.love-xpider {
    height: 1078px;
    background: #151C32;
}

.life-easy {
    height: 961px;
    background: #F6F8F9;
    border: 1px solid black;
    position: relative;
}

.manager-your-team {
    margin-bottom: 130px;
}

.people {
    color: #C9CDD5;
    margin-top: 110px;
}

.people p {
    font-family: Aileron-Regular;
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    padding-right: 10px;
}

.people h3 {
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Aileron-Bold;
}

.love-xpider h1 {
    color: #FFFFFF;
}

.love-xpider .why a h3 {
    padding-top: 120px;
}

.tryfree-full {
    max-width: 100%;
    height: 600px;
    background: #2F5BEA;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
}

a.fa {
    color: white;
    background: black;
    border-radius: 50%;
    margin-right: 5px;
    padding: 10px;
}

a.fa:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

a.fa.fa-facebook {
    padding: 10px 12px;
}

.content a,
.choose a,
a.fa {
    text-decoration: none;
}

.content a h3 {
    text-align: left;
}

.sortware {
    margin-top: 90px;
    margin-bottom: 135px;
}

.tryfree .simple h1 {
    color: #FFFF;
    padding-top: 150px;
    padding-bottom: 10px;
}

.tryfree p {
    margin-bottom: 25px;
    text-align: center;
    color: #FFFF;
}

p.tryfree-p2 {
    margin-top: 20px;
    text-align: center;
    color: #D2D2D2;
    font-size: 14px;
}

.addEmail {
    position: relative;
}

input {
    width: 100%;
    height: 46px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.addEmail button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: transparent;
    border: none;
    border-left: 1px solid lightgrey;
}

.mobile-main {
    height: 702px;
    background: #2F5BEA;
}

.mobile-container {
    position: relative;
}

.img-mobile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sortware img,
.people img {
    opacity: 0.7;
    transition: 0.4s all ease-out;
}

.sortware img:hover,
.people img:hover {
    opacity: 1;
}

.left-team.why {
    padding-right: 80px;
}

.left-team h3 {
    margin-top: 0;
}

button.btn.btn-text {
    border-bottom: 2px solid #2F5BEA;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1112px;
    }
    .main-banner {
        height: 1100px;
    }
}

@media (max-width: 1170px) {
    .banner-text p {
        color: black;
    }
}

@media (max-width: 768px) {
    .main-banner {
        height: 930px;
    }
    .banner-text h1 {
        color: black;
    }
    .banner-text p {
        color: black;
    }
    .banner1 {
        top: 0;
    }
    .ml60 {
        margin: 0;
    }
    .love-xpider .why a h3 {
        padding-top: 20px;
    }
    .people {
        margin-top: 0px;
    }
    .people p {
        font-size: 20px;
        line-height: 40px;
    }
}

@media(max-width: 576px) {
    .banner-text h1 {
        color: black;
    }
    .banner-text p {
        color: black;
    }
    .banner1 {
        top: 0;
    }
    .main-banner {
        height: 900px;
    }
    .content a h3,
    .choose-items,
    .sortware.choose,
    .addEmail {
        text-align: center;
        margin-top: 20px;
    }
    .choose,
    nav.navbar.navbar-expand-sm.navbar-light.bg-light {
        margin-bottom: 0;
    }
    footer.footer-main {
        margin-top: 130px;
        text-align: center;
    }
    section.container-fluid.footer_end {
        font-size: 10px;
    }
    .float-right {
        float: none !important;
        text-align: center;
    }
    ul.navbar-nav.ml-auto.mt-2.mt-lg-0 {
        text-align: center;
    }
    button.btn.btn-outline-success {
        margin: 0 auto;
    }
    .col-md-2.mt20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left-team.why {
        padding-right: 0;
    }
    .people {
        margin-top: 0px;
    }
    .people p {
        font-size: 20px;
        line-height: 40px;
    }
}